*{
    margin: 0 auto;
}

.banner{
    display: flex;
    width: 100%;
    text-align: center;
    background-color: #DCDCDC;
    align-items: center;
    height: 100px;
}
.container{
    display: flex;
}
.content{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 5px;
}
.singleBlog img{
    background-size: 380px 220px;
    height: 220px;
    width: 380px;
}
.nav{
    width: 200px;
}
.about{
    width: 200px;
    text-align: center;
    margin-top: 5px;
    background-color: #DCDCDC;
    
}
.about div{
    text-align: center;
    margin-top: 8px;
}
.about div p{
    margin-bottom: 5px;
}
.footer{
    font-size: 20px;
    font-weight: 800;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    color: red;
    background-color: #DCDCDC;
    padding: 10px;
}
.nav .navbar{
    width: 100%;
}
.nav ul li{
    margin-top: 5px;
    background-color: #DCDCDC;
    list-style: none;
    text-decoration: underline;
    text-align: center;
}
.nav ul{
    padding-left: 0px;
}
.content {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.singleBlog div a{
    text-decoration: none;
    color: black;
}
.singleBlog .text a{
    color: grey;
}
.singleBlog .text{
    color: grey;
    margin: 5px;
}
.singleBlog .content-a{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.singleBlog .content-a {
    overflow: hidden;
    /*white-space: nowrap;
    text-overflow: ellipsis;*/
    width: 360px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.singleBlog .content-a a{
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 620px){
    body{
        margin: 5px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .nav, ul{
        width: 100%;
    }
    .about{
        width: 100%;
    }
    .content{
        display: grid;
        grid-template-columns: auto;
    }
}


